.message {
    background-color: lightblue;
}

.active {
    font-weight: bold;
}

.sidebar {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(48, 55, 115);
    box-shadow: #1a202c 0 0 2px;
}

a {
    text-decoration: none;
}

.sidebar-list {
    width: 100%;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.sidebar-item {
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 450;
}

.sidebar-item:after {
    content: '>';
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 2px;
    transition: width .3s;
    right: 5px;
}
