<template>
  <div aria-labelledby="modal-title" aria-modal="true" class="z-50" role="dialog">
    <div class="z-50 fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div
          class="modal-panel relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
          <div class="my-3 text-left sm:mt-5 pb-2">
            <h3 class="text-2xl font-semibold leading-6 text-gray-900" id="modal-title">${title}</h3>
          </div>
          <div class="grid gri-cols-1 gap-y-4">
            <div class="col-span-1">
              <label for="modal-input-description">Todo description<span class="text-red-500">*</span></label>
              <span class="sr-only">Todo description</span>
              <div class="mt-2">
                <input
                  class="block w-full text-sm pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600"
                  id="modal-input-description"
                  placeholder="Enter your description"
                  type="text" value.bind="newTodo">
              </div>
            </div>
            <div class="col-span-1">
              <label for="modal-input-tags">Tags</label>
              <span class="sr-only">Tags</span>
              <div class="mt-2">
                <input
                  class="block w-full text-sm pl-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-1 focus:ring-inset focus:ring-indigo-600"
                  id="modal-input-tags"
                  placeholder="Enter the tags separated by comma"
                  type="text" value.bind="tags">
              </div>
            </div>
          </div>
          <div class="flex flex-col w-full items-end">
            <div class="mt-5 sm:mt-6">
              <button
                class="inline-flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                click.trigger="actionTodo()"
                type="submit">
                ${actionName}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
