<template bindable="router">
  <nav class="fixed inset-y-0 z-40 flex w-[210px] flex-col">
    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-indigo-600 px-6 pb-4">
      <div class="flex h-16 shrink-0 items-center">
        <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-300.svg" alt="Workflow">
        <span class="ml-2 text-2xl font-semibold text-white">Todo APP</span>
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li repeat.for="row of router.navigation"
                  class="${row.isActive ? 'bg-indigo-700 pl-1 rounded-md text-sm leading-6 font-semibold transition-all duration-200 ease-in-out' : ''}">
                <a href.bind="row.href"
                   class="text-white group flex gap-x-3 rounded-md p-1 text-sm leading-6 font-semibold">
                  ${row.title}
                </a>
              </li>
            </ul>
          </li>

          <li class="mt-auto">
            <button type="button" click.delegate="logout()"
               class="group -mx-2 flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-indigo-200 hover:bg-indigo-700 hover:text-white">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
              </svg>
              Log Out
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</template>
